/* Salesforce Sans */
@font-face {
  font-family: 'Salesforce Sans';
  src: url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Regular.eot');
  src: url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Regular.woff') format('woff'),
       url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Regular.svg#Salesforce-Sans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
@font-face {
  font-family: 'Salesforce Sans';
  src: url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Italic.eot');
  src: url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Italic.eot?#iefix') format('embedded-opentype'),
       url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Italic.woff') format('woff'),
       url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Italic.svg#Salesforce-Sans-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}
 
@font-face {
  font-family: 'Salesforce Sans';
  src: url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Bold.eot');
  src: url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Bold.woff') format('woff'),
       url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Bold.svg#Salesforce-Sans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
 
@font-face {
  font-family: 'Salesforce Sans';
  src: url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-BoldItalic.eot');
  src: url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-BoldItalic.woff') format('woff'),
       url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-BoldItalic.svg#Salesforce-Sans-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
 
/* Salesforce Sans Light */
@font-face {
  font-family: 'Salesforce Sans Light';
  src: url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Light.eot');
  src: url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Light.eot?#iefix') format('embedded-opentype'),
       url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Light.woff') format('woff'),
       url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Light.svg#Salesforce-Sans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
@font-face {
  font-family: 'Salesforce Sans Light';
  src: url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-LightItalic.eot');
  src: url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-LightItalic.woff') format('woff'),
       url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-LightItalic.svg#Salesforce-Sans-LightItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
 
/* Salesforce Sans Thin */
@font-face {
  font-family: 'Salesforce Sans Thin';
  src: url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Thin.eot');
  src: url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Thin.eot?#iefix') format('embedded-opentype'),
       url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Thin.woff') format('woff'),
       url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-Thin.svg#Salesforce-Sans-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
@font-face {
  font-family: 'Salesforce Sans Thin';
  src: url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-ThinItalic.eot');
  src: url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
       url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-ThinItalic.woff') format('woff'),
       url('http://www2.sfdcstatic.com/system/shared/common/assets/fonts/SalesforceSans/SalesforceSans-ThinItalic.svg#Salesforce-Sans-ThinItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}