/* vertical-align */
.a-top {
  vertical-align: top !important;
}
.a-mid {
  vertical-align: middle !important;
}
.a-base {
  vertical-align: baseline !important;
}
.a-btm {
  vertical-align: bottom !important;
}
.a-tb {
  vertical-align: text-bottom !important;
}


/* border-radius */
.brxs {
  border-radius: radius-1;
}
.brs {
  border-radius: radius-2;
}
.brm {
  border-radius: radius-3;
}
.brl {
  border-radius: radius-4;
}
.br-pill {
  border-radius: radius-pill;
}
.br-circle {
  border-radius: radius-circle;
}


/* display */
.dn {
  display: none;
}
.db {
  display: block;
}
.ht-100p {
  height: 100%;
}


/* overflow */
.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.scrollable-x {
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.o-hidden {
  overflow: hidden;
}


/* text truncate */
.text-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}


/* text-align */
.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }


/* z-index */
.z-1 { z-index: 1; }
.z-2 { z-index: 2; }
.z-3 { z-index: 3; }
.z-4 { z-index: 4; }


/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.center {
  display: block;
  margin: 0 auto;
}