/*

  type:
    p = padding
    m = margin

  direction:
    a = all
    t = top
    r = right
    b = bottom
    l = left
    h = horizontal
    v = vertical

  size:
    n = none
    xs = extra small
    s = small
    m = medium
    l = large
    x = extra
    xl = extra large
    xxl = extra extra large

*/

/* margin all */
.man { margin: 0 !important; }
.maxs { margin: spacing-1; }
.mas { margin: spacing-2; }
.mam { margin: spacing-3; }
.mal { margin: spacing-5; }
.max { margin: spacing-6; }
.maxl { margin: spacing-7; }
.maxxl { margin: spacing-8; }

/* margin-top */
.mtn { margin-top: 0; }
.mtxs { margin-top: spacing-1; }
.mts { margin-top: spacing-2; }
.mtm { margin-top: spacing-3; }
.mtl { margin-top: spacing-5; }
.mtx { margin-top: spacing-6; }
.mtxl { margin-top: spacing-7; }
.mtxxl { margin-top: spacing-8; }

/* margin-right */
.mrn { margin-right: 0; }
.mrxs { margin-right: spacing-1; }
.mrs { margin-right: spacing-2; }
.mrm { margin-right: spacing-3; }
.mrl { margin-right: spacing-5; }
.mrx { margin-right: spacing-6; }
.mrxl { margin-right: spacing-7; }
.mrxxl { margin-right: spacing-8; }

/* margin-bottom */
.mbn { margin-bottom: 0; }
.mbxs { margin-bottom: spacing-1; }
.mbs { margin-bottom: spacing-2; }
.mbm { margin-bottom: spacing-3; }
.mbl { margin-bottom: spacing-5; }
.mbx { margin-bottom: spacing-6; }
.mbxl { margin-bottom: spacing-7; }
.mbxxl { margin-bottom: spacing-8; }

/* margin-left */
.mln { margin-left: 0; }
.mlxs { margin-left: spacing-1; }
.mls { margin-left: spacing-2; }
.mlm { margin-left: spacing-3; }
.mll { margin-left: spacing-5; }
.mlx { margin-left: spacing-6; }
.mlxl { margin-left: spacing-7; }
.mlxxl { margin-left: spacing-8; }


/* padding all */
.pan { padding: 0 !important; }
.paxs { padding: spacing-1; }
.pas { padding: spacing-2; }
.pam { padding: spacing-3; }
.pal { padding: spacing-5; }
.pax { padding: spacing-6; }
.paxl { padding: spacing-7; }
.paxxl { padding: spacing-8; }

/* padding-top */
.ptxs { padding-top: 0; }
.ptxs { padding-top: spacing-1; }
.pts { padding-top: spacing-2; }
.ptm { padding-top: spacing-3; }
.ptl { padding-top: spacing-5; }
.ptx { padding-top: spacing-6; }
.ptxl { padding-top: spacing-7; }
.ptxxl { padding-top: spacing-8; }

/* padding-right */
.prxs { padding-right: 0; }
.prxs { padding-right: spacing-1; }
.prs { padding-right: spacing-2; }
.prm { padding-right: spacing-3; }
.prl { padding-right: spacing-5; }
.prx { padding-right: spacing-6; }
.prxl { padding-right: spacing-7; }
.prxxl { padding-right: spacing-8; }

/* padding-bottom */
.pbxs { padding-bottom: 0; }
.pbxs { padding-bottom: spacing-1; }
.pbs { padding-bottom: spacing-2; }
.pbm { padding-bottom: spacing-3; }
.pbl { padding-bottom: spacing-5; }
.pbx { padding-bottom: spacing-6; }
.pbxl { padding-bottom: spacing-7; }
.pbxxl { padding-bottom: spacing-8; }

/* padding-left */
.pln { padding-left: 0; }
.plxs { padding-left: spacing-1; }
.pls { padding-left: spacing-2; }
.plm { padding-left: spacing-3; }
.pll { padding-left: spacing-5; }
.plx { padding-left: spacing-6; }
.plxl { padding-left: spacing-7; }
.plxxl { padding-left: spacing-8; }