/*

  type:
    p = padding
    m = margin

  direction:
    a = all
    t = top
    r = right
    b = bottom
    l = left
    h = horizontal
    v = vertical

  size:
    n = none
    xs = extra small
    s = small
    m = medium
    l = large
    x = extra
    xl = extra large
    xxl = extra extra large

*/

/* margin all */
.man { margin: 0 !important; }
.maxs { margin: .125rem !important; }
.mas { margin: .25rem !important; }
.mam { margin: .5rem !important; }
.mal { margin: 1rem !important; }
.max { margin: 2rem !important; }
.maxl { margin: 4rem !important; }
.maxxl { margin: 8rem !important; }

/* margin-top */
.mtn { margin-top: 0 !important; }
.mtxs { margin-top: .125rem !important; }
.mts { margin-top: .25rem !important; }
.mtm { margin-top: .5rem !important; }
.mtl { margin-top: 1rem !important; }
.mtx { margin-top: 2rem !important; }
.mtxl { margin-top: 4rem !important; }
.mtxxl { margin-top: 8rem !important; }

/* margin-right */
.mrn { margin-right: 0 !important; }
.mrxs { margin-right: .125rem !important; }
.mrs { margin-right: .25rem !important; }
.mrm { margin-right: .5rem !important; }
.mrl { margin-right: 1rem !important; }
.mrx { margin-right: 2rem !important; }
.mrxl { margin-right: 4rem !important; }
.mrxxl { margin-right: 8rem !important; }

/* margin-bottom */
.mbn { margin-bottom: 0 !important; }
.mbxs { margin-bottom: .125rem !important; }
.mbs { margin-bottom: .25rem !important; }
.mbm { margin-bottom: .5rem !important; }
.mbl { margin-bottom: 1rem !important; }
.mbx { margin-bottom: 2rem !important; }
.mbxl { margin-bottom: 4rem !important; }
.mbxxl { margin-bottom: 8rem !important; }

/* margin-left */
.mln { margin-left: 0 !important; }
.mlxs { margin-left: .125rem !important; }
.mls { margin-left: .25rem !important; }
.mlm { margin-left: .5rem !important; }
.mll { margin-left: 1rem !important; }
.mlx { margin-left: 2rem !important; }
.mlxl { margin-left: 4rem !important; }
.mlxxl { margin-left: 8rem !important; }


/* padding all */
.pan { padding: 0 !important; }
.paxs { padding: .125rem !important; }
.pas { padding: .25rem !important; }
.pam { padding: .5rem !important; }
.pal { padding: 1rem !important; }
.pax { padding: 2rem !important; }
.paxl { padding: 4rem !important; }
.paxxl { padding: 8rem !important; }

/* padding-top */
.ptxs { padding-top: 0 !important; }
.ptxs { padding-top: .125rem !important; }
.pts { padding-top: .25rem !important; }
.ptm { padding-top: .5rem !important; }
.ptl { padding-top: 1rem !important; }
.ptx { padding-top: 2rem !important; }
.ptxl { padding-top: 4rem !important; }
.ptxxl { padding-top: 8rem !important; }

/* padding-right */
.prxs { padding-right: 0 !important; }
.prxs { padding-right: .125rem !important; }
.prs { padding-right: .25rem !important; }
.prm { padding-right: .5rem !important; }
.prl { padding-right: 1rem !important; }
.prx { padding-right: 2rem !important; }
.prxl { padding-right: 4rem !important; }
.prxxl { padding-right: 8rem !important; }

/* padding-bottom */
.pbxs { padding-bottom: 0 !important; }
.pbxs { padding-bottom: .125rem !important; }
.pbs { padding-bottom: .25rem !important; }
.pbm { padding-bottom: .5rem !important; }
.pbl { padding-bottom: 1rem !important; }
.pbx { padding-bottom: 2rem !important; }
.pbxl { padding-bottom: 4rem !important; }
.pbxxl { padding-bottom: 8rem !important; }

/* padding-left */
.pln { padding-left: 0 !important; }
.plxs { padding-left: .125rem !important; }
.pls { padding-left: .25rem !important; }
.plm { padding-left: .5rem !important; }
.pll { padding-left: 1rem !important; }
.plx { padding-left: 2rem !important; }
.plxl { padding-left: 4rem !important; }
.plxxl { padding-left: 8rem !important; }