$sat: 70%;
$lum: 70%;

$yellow: hsl(60deg, $sat, $lum);
$orange: hsl(30deg, $sat, $lum);
$red: 	 hsl(0deg, $sat, $lum);
$purple: hsl(270deg, $sat, $lum);
$blue: 	 hsl(210deg, $sat, $lum);
$green:  hsl(150deg, $sat, $lum);